

body{
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 60%;
    color: #a0a0a0;
    background-color: #262626;
    padding: 1em;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

ul{
    margin: 1em 0;
    padding: 0;
    li{
        list-style: none;
        margin: 1em 0;
    }
}

fieldset{
    border: solid #000 1px ;
    margin: .5em 0;
    padding: .5em;
}


.x-demo-area{
    white-space: nowrap;
    vertical-align: top;
    .x-preview,
    .x-settings,
    .x-output{
        display: inline-block;
        width: 400px;
        overflow: hidden;
        vertical-align: top;
        white-space: normal;
        padding: 1em;
    }
    .x-preview{
        .x-preview-image{
            width: 400px;
        }
    }
    .x-settings{
        .x-source,
        .x-effects,
        .x-stickers{
            white-space: nowrap;
            overflow-x: scroll;
            padding-bottom: 20px;
            a{
                text-align: center;
                display: inline-block;
                img{
                    display: block;
                    margin: 0 .25em 0 0;
                    border: solid #000 1px;
                    &.x-current-image{
                        border: solid #ffff00 1px;
                    }
                }
                &:hover,
                &.x-current-filter{
                    img{
                        border: solid #ffff00 1px;
                    }
                }
            }
        }
        .x-stickers{
            a{
                width: 60px;
                text-overflow: ellipsis;
                overflow: hidden;
                img{
                    width: 56px;
                    height: 56px;
                }
            }
        }
        .font-size{
            width: 3em;
        }

    }
    .x-output{
        width:560px;
    }
}


.x-activity-indicator{
    display: none;
}

.x-processing{
    .x-preview-image-area{
        position: relative;
        .x-activity-indicator{
            display: block;
            position: absolute;
            top: 5%;
            left: 50%;
            background-color: rgba(0,0,0,.8);
            z-index: 20;
            width: 60px;
            margin-left: -40px;
            padding: 10px;
            border-radius: 5px;
        }
    }
}



// FX base styles - move to lib

// Layer borders
.fx-sticker{
    padding: .5em;
    border:solid rgba(240,240,240,.8) 2px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.fx-text{
    &.fx-text-rendered{  // hide when rendered
        opacity: 0;
    }

    .fx-text-wrapper{  // wrapper holds buttons and text
        position: relative;  // for button positioning
        display: inline-block;  // shrink to text element
        margin: -9px;
    }

    .fx-text-inner{
        padding: 9px;
        outline: none;  // no default outline when contenteditable=true
        display: inline-block;  // shrink to text
    }

    .fx-text-button{  // hide buttons normally
        display: none;
    }

    &.fx-text-active{
        .fx-text-inner{  // show border on active
            margin: -2px;  // account for border
            border:solid rgba(240,240,240,.8) 2px;
            border-radius: 4px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        }
        .fx-text-button{
            display: block;  // show buttons on active
        }
    }
}

.fx-sticker{
    .fx-remove-sticker{
        top: 0;
        left: 0;
        background: black;
        color: white;
    }
    .fx-render-sticker{
        top: 0;
        right: 0;
    }
    .fx-scale-sticker{
        bottom: 0;
        right: 0;
    }
}

.fx-delete-layer,
.fx-render-layer,
.fx-sticker-handle{
    background-color: yellow;
    padding: 4px;
    display: block;
    min-width: 12px;
    min-height: 12px;
    border-radius: 20px;
    border: white solid 2px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: white;
    margin: -12px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
}
.fx-delete-layer{
    background-color: black;
    color: white;
}
