body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 60%;
  color: #dbdbdb;
  text-transform: lowercase;
  background-color: #262626;
  padding: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fx-text-inner {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul {
  margin: 1em 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 1em 0;
}
fieldset {
  border: none;
  margin: .5em 0;
  padding: .5em;
  background: rgba(0, 0, 0, 0.1);
}
.x-demo-area {
  white-space: nowrap;
  vertical-align: top;
}
.x-demo-area .x-preview,
.x-demo-area .x-settings,
.x-demo-area .x-output {
  display: inline-block;
  width: 400px;
  overflow: hidden;
  vertical-align: top;
  white-space: normal;
  padding: 1em;
}
.x-demo-area .x-preview .x-preview-image {
  width: 400px;
}
.x-demo-area .x-settings .x-source,
.x-demo-area .x-settings .x-effects,
.x-demo-area .x-settings .x-stickers {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 1px 0;
}
.x-demo-area .x-settings .x-source fieldset,
.x-demo-area .x-settings .x-effects fieldset,
.x-demo-area .x-settings .x-stickers fieldset {
  display: inline-block;
  padding: 0;
  margin: 0 1px 0 0;
}
.x-demo-area .x-settings .x-source fieldset h3,
.x-demo-area .x-settings .x-effects fieldset h3,
.x-demo-area .x-settings .x-stickers fieldset h3 {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: .25em .5em;
}
.x-demo-area .x-settings .x-source fieldset a,
.x-demo-area .x-settings .x-effects fieldset a,
.x-demo-area .x-settings .x-stickers fieldset a {
  text-align: center;
  display: inline-block;
  margin: 1em .5em;
  padding-bottom: 1em;
  border-bottom: solid #262626 1px;
}
.x-demo-area .x-settings .x-source fieldset a img,
.x-demo-area .x-settings .x-effects fieldset a img,
.x-demo-area .x-settings .x-stickers fieldset a img {
  display: block;
  margin: 0 .25em 0 0;
  width: 56px;
}
.x-demo-area .x-settings .x-source fieldset a:hover,
.x-demo-area .x-settings .x-effects fieldset a:hover,
.x-demo-area .x-settings .x-stickers fieldset a:hover,
.x-demo-area .x-settings .x-source fieldset a.x-current-filter,
.x-demo-area .x-settings .x-effects fieldset a.x-current-filter,
.x-demo-area .x-settings .x-stickers fieldset a.x-current-filter {
  border-bottom: solid #ffff00 1px;
}
.x-demo-area .x-settings .x-stickers a {
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.x-demo-area .x-settings .x-stickers a img {
  width: 56px;
  height: 56px;
}
.x-demo-area .x-settings .font-size,
.x-demo-area .x-settings .line-height {
  width: 3em;
}
.x-demo-area .x-output {
  width: 800px;
  padding-right: 20px;
}
.x-activity-indicator {
  display: none;
}
.fx-processing .x-preview-image-area {
  position: relative;
}
.fx-processing .x-preview-image-area .x-activity-indicator {
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  width: 60px;
  margin-left: -40px;
  padding: 10px;
  border-radius: 5px;
}
.collapsible .toggle-section {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 0 0;
  display: block;
  padding: 1em;
  position: relative;
}
.collapsible .toggle-section:after {
  width: 0;
  height: 0;
  display: inline-block;
  content: "&uarr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 0;
  margin-left: -10px;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.collapsible .toggle-section h2 {
  margin: 0;
}
.collapsible .toggle-section:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.collapsible .section-content {
  background-color: rgba(0, 0, 0, 0.1);
  padding: .5em;
  margin-bottom: 1em;
}
.collapsible.closed .toggle-section {
  border-radius: 5px;
  margin-bottom: 1em;
}
.collapsible.closed .toggle-section:after {
  content: "&darr;";
  text-indent: -99999px;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-top: 0.5em solid rgba(255, 255, 255, 0.5);
}
.collapsible.closed .section-content {
  display: none;
}
#incompatible {
  display: none;
  background-color: rgba(200, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
